body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}


/* Remove all link underline + focus glow */
.sidenav-link,
.sidenav-link:focus,
.sidenav-link:active,
.sidenav-link:hover,
.sidenav-link:visited {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Remove Bootstrap default blue outline */
a:focus {
  outline: none !important;
  box-shadow: none !important;
}
